$primary-color: rgba(0, 119, 204, 1); // a deep blue shade
$secondary-color: rgba(135, 149, 161, 1); // a light blue-gray shade

$text-color: rgba(51, 51, 51, 1);

$background-primary-color: rgba(239, 237, 242, 1);
$background-secondary-color: rgba(213, 226, 226, 1);