$primary-color: rgba(121, 49, 195, 1);
$secondary-color: rgba(251, 171, 23, 1);
$background-primary-color: rgba(4, 13, 47, 1);
$background-secondary-color: rgba(27, 36, 48, 1);
$text-color: rgba(255, 255, 255, 1);