$primary-color: rgba(0, 160, 233, 1);
$secondary-color: rgba(147, 205, 221, 1);
$background-primary-color: rgba(240, 245, 248, 1);
$background-secondary-color: rgba(221, 236, 241, 1);

// A new text color that complements the overall layout
$text-color: rgba(255, 255, 255, 1);